tbody {
  display: block;
  max-height: calc(100vh - 380px);
  min-height: 100px;
  overflow: auto;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100% - 1em);
}

table {
  width: 100%;
}

thead th:nth-child(1), tbody td:nth-child(1) {
  width: 40px;
}

thead th:nth-child(2), tbody td:nth-child(2) {
  width: 77%;
}

tbody::-webkit-scrollbar {
  width: 7px;
}

tbody::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: #26a69a;
}